<div class="container">
  <div class="your_question"> 
    <p>  <%= @question %> </p>
    <footer><em>-You</em></footer>
  </div>

  <div class="coach">
    <b><% if @question == "I am going to work" %>
      <p><%= @coach[0] %></p>
    <%elsif @question[-1] == '?' %>
      <p><em><%= @coach[1] %></p>
    <% else %>
    <p><%= @coach[2] %></p>
    <% end %></b>
    <footer><em>-Your Coach</em></footer>
  </div>

  <%= link_to  "ask another question", ask_path, class: "btn btn-primary" %>
</div>